
<h2 id="myApplicationCreation">Electronic Submittal for Newly Created Applications</h2>
<p>
    The Bureau of Street Use and Mapping has transitioned to the requirement that all applications be submitted electronically.
    Submitting electronically has many advantages including being able transmit an application quickly online, saving paper
    and copy expenses, and simplifying the contents of an application package.
</p>
<p>
    Please read through the following instructions carefully.
</p>

<ol>
    <li>
        <a href="@Url.Action("Register", "Account")" target="_blank">Register</a> a new account with this website, or
        <a href="@Url.Action("Login", "Account")" target="_blank">Login</a> an existing account
    </li>
    <li>
        Under the "Applications Tab", you will find a searchable table of all current and submitted applications. You will also
        find a button that says "Create New Application".
    </li>
    <li>
        Select the desired application, and have the required forms be generated for you.
    </li>
    <li>
        Read every form carefully, follow the instructions provided, and fill out the forms appropriately. Note that all changes to your
        form will be lost if you do not click the "SAVE" button
    </li>
    <li>
        Share edit priveledges for your applications with other users by clicking the small "invite" button located in the directory, and
        adding their email address to the list of pending users. An email will be sent out to these users with further instructions.
    </li>
    <li>
        Many of the forms will have have to be downloaded and printed printed, signed/notarized and then
        scanned as a *.pdf file.  PDF is a portable document format that is widely used for sending and receiving electronic
        documents.  Newer computers and programs are able to print, open and sometimes edit this type of file. Most professionals
        (your attorney or surveyor), create and use these types of files on a daily basis.  Electronic signatures are acceptable
        except where notarization is required.
    </li>
</ol>

<h2 id="myApplicationSubmittal">After Submitting an application to SFDPW</h2>
<ul>
    <li>
        Visit SFPW website (<a href="http://sfpublicworks.org/services/subdivisions-and-mapping">http://sfpublicworks.org/services/subdivisions-and-mapping</a>)
        and go to the Subdivision Project Tracking System (<a href="http://bsm.sfdpw.org/subdivision/tracking/">http://bsm.sfdpw.org/subdivision/tracking/</a>)
        to check the application status.
    </li>
    <li>
        Understand the process following the tentative map decision. 
    </li>
    <li>
        Respond promptly to additional requests for information from SFPW or other departments.
    </li>
</ul>

<h2 id="myTenantiveMapDecision">Tentative Map Decision (approval or conditional approval)</h2>
<ul>
    Typically the following items are required with the Conditions of Approval in accordance with the Tentative Map Decision:
    <li>Copy of the Certificate of Final Completion for Occupancy (CFC) issued by Department of Building Inspection.</li>
    <li>
        Check print in pdf format to subdivision.mapping@sfdpw.org for technical review, following the Map Review Checklist
        requirements and the San Francisco Subdivision Regulations.
    </li>
    <li>
        Copy of the Map Review Checklist, which can be found at SFPW website (<a href="http://sfpublicworks.org">http://sfpublicworks.org</a>),
        select “Services”, select “Subdivisions and Mapping”. Under “Information for Mapping Professionals,” select “Map Review Checklist.”
    </li>
    <li>
        Electronic closure calculations for non-rectangular boundaries.  This is needed for SFPW’s technical map review process (this is a task for
        your surveyor/engineer).
    </li>
</ul>
<p><strong>Note:</strong> San Francisco Public Works will not accept the check prints without a CFC, issued by Department of Building Inspection.</p>

<h2 id="myCheckprint">Checkprint and Subdivision Map Review Process</h2>
<ul>
    <li>Respond promptly to additional requests for information.</li>
    <li>
        Submit a complete check print package and make requested changes to the Checkprint, and email all required documents to subdivision.mapping@sfdpw.org
        using the following naming convention for your check print submittal: PIDxxxx_APNxxxx_date (use yyyymmdd format).
    </li>
    <li>
        Typically the following items are required with the check print:
        <ul>
            <li>Certificate of Final Completion (CFC)</li>
            <li>Original signed/notarized Owner Affidavit(s)</li>
            <li>Conformed copy of the recorded Offer of Lifetime Lease. [Sec. 1396.4]</li>
            <li>Original signed/notarized Agreement between City and County of San Francisco and the property owner(s). [Sec. 1396.4]</li>
            <li>Conformed copy of the recorded Lifetime Lease, if accepted. [Sec. 1396.4]</li>
            <li>Copies of any grant deed that was a result of ownership change after application submittal.</li>
            <li>Conformed copy of any Notice of Special Restrictions that was the result of any sale or option to sell any unit made after application submittal</li>
            <li>Original signed/notarized Refund Form, if applicable.</li>
        </ul>
    </li>
    <li>When requested by SFPW, submit the map in Mylar form with the following documents required for recordation: </li>
    <ul>
        <li>
            San Francisco Public Works will not accept incomplete mylar submittal packages. All items requested in the initial mylar
            request must be submitted in a single package.
        </li>
        <li>
            Updated Preliminary Title Report (dated within 45 days of mylar submittal).
        </li>
        <li>
            Valid Tax Certificate (obtained from the Office of the Treasurer and Tax Collector).
        </li>
        <li>
            Check for recordation fee
        </li>
    </ul>
    <li>
        In those cases where a City Agency issued conditional approval of the map, mylars should not be submitted to SFPW until:
        <ul>
            <li>
                The agency that issued the conditions has provided SFPW with confirmation that they have been met.
            </li>
            <li>
                The applicant has addressed the agency’s conditions.
            </li>
        </ul>
    </li>
    <p>
        <strong>Note: </strong>The City and County Surveyor may request a copy of the land surveyor’s field notes or any other relevant survey
        information necessary to support the submitted map.
    </p>
</ul>