<h2 id="myEcpGuidelines">ECP Application Guidelines</h2>
<p>
    Failure to submit a complete application will result in a delay of the conversion process.
    Please read carefully. Submittal requirements have changed from previous applications.  These
    guidelines are designed to help applicants provide DPW with all the necessary information to
    conduct a thorough and timely review.
</p>

<div class="form-group">
    Codes and Regulations Referenced in the Condominium Conversion Application
    <ul>
        <li>
            <a href="http://leginfo.legislature.ca.gov/faces/codes_displayexpandedbranch.xhtml?tocCode=GOV&division=2.&title=7.&part=&chapter=&article=">
                California Subdivision Map Act (SMA)
            </a>
        </li>
        <li>
            <a href="http://library.amlegal.com/nxt/gateway.dll/California/subdivision/subdivisioncode?f=templates$fn=default.htm$3.0$vid=amlegal:sanfrancisco_ca$sync=1">
                San Francisco Subdivision Code (SFSC)
            </a>
        </li>
        <li>
            <a href="http://sfpublicworks.org/sites/default/files/4740-2015%20Subdivision%20Regulations_final.pdf">
                San Francisco Subdivision Regulations (SFSR)
            </a>
            <a href="http://sfpublicworks.org/sites/default/files/4224-SF%20SUBDIVISION%20REGULATIONS%20%28CP%202014%29.pdf"> (Candlestick Point) </a>
            <a href="http://sfpublicworks.org/sites/default/files/TI%20Subdivision%20Regulations%20%28final%29.pdf">
                (Treasure Island)
            </a>
        </li>
    </ul>
</div>

<h4 id="myEcpGuidelinesPrerequisits">Before Filling Out Application</h4>
<ul>
    <li>Read the condominium conversion process overview</li>
    <li>Find and retain an Attorney (optional) and Licensed Land Surveyor or pre-1982 Registered Civil Engineer</li>
</ul>
<div class="form-group">
    A complete condominium conversion application consists of:
    <ul>
        <li>Cover letter </li>
        <li>Application checklist</li>
        <li>Inclusion of all necessary forms and attachments indicated in checklist</li>
    </ul>
</div>
<p>
    This condominium conversion application applies to both residential and mixed-use (residential and commercial
    condominium units) conversions. Conversion of commercial property to condominiums should use the Commercial
    Conversion Application, and new condominium construction should use the New Condominium Construction Application.
</p>

<h4 id="myEcpGuidelinesCoverLetter">Cover Letter</h4>
<p>Cover Letter should identify the particulars of the project and the applicant’s name and address.</p>

<h4 id="myEcpGuidelinesProjectInfo">Project Information</h4>
<p>
    Indicate property address, assessor’s parcel number, owner information, project contact person, firm
    or agent preparing the subdivision map, Subdivider (if different from owner), and number of units being converted.
    If the number of proposed conversion units differs from the number of existing units, attach an explanation. Print
    the name of the Subdivider <strong>and be sure to sign and date the application.</strong>  Electronic signatures
    are acceptable in every instance, except where a notary acknowledgment is required.  In those cases, sign and
    notarize the paper form and return both an electronic scan and paper original with your application submittal
</p>

<h4 id="myEcpGuidelinesTM">Tentative Parcel Map (2-4 Units) or Tentative Final Map (5-6 Units)</h4>
<p>
    A Licensed Land Surveyor or a pre-1982 Registered Civil Engineer shall prepare the tentative Parcel Map of
    the condominium including delineation of the boundaries of the building or buildings and other significant
    site improvements.  Be sure to read through the requirements listed in the Subdivision Regulations. Submit a
    signed pdf copy of the map.
</p>

<h4 id="myEcpGuidelinesAppFees">Application Fees</h4>
<p>
    Submit checks or money orders payable to San Francisco Public Works for the Subdivision and Mapping fee identified
    in the current Fee Schedule. Date the checks no more than 15 days prior to the date of application submittal.
    Submit both the original paper checks and scanned copies in pdf format.
</p>

<h4 id="myEcpGuidelinesPTR">Preliminary Title Report</h4>
<p>
    Submit a copy of the preliminary title report (PTR), dated within 3 months of the application submission date.
    The PTR is used to verify the name of owners of record, and the percentage of each separate owner’s interest in the property.
</p>

<p>
    <strong>Note: </strong>Copies of any recorded items such as Notices of Special Restrictions, easements or other encumbrances
    listed in the PTR must be provided with the application submittal.
</p>


<h4 id="myEcpGuidelinesDeeds">Subject and Adjoiner Deeds</h4>
<p>
    Submit copies of the most current grant deeds (also known as vesting deeds) for all owner(s) of record and/or a chain of
    title for the subject site. Also submit copies of the most current grant deeds for adjoining sites. A grant deed is a
    recorded document on file with the San Francisco Office of Assessor-Recorder that shows the names of property owners and
    legal description of the land. Like the PTR, SFPW uses a grant deed, for the subject site, to verify the name of owners of
    record and the percentage of each separate owner’s interest in the property.
</p>

<h4 id="myEcpGuidelinesResearch">Other Recorded Maps or Block Research</h4>
<p>
    All recorded maps or other research materials affecting the property boundary for the subject block must be provided with
    your electronic application submittal.
</p>

<h4 id="myEcpGuidelinesBuildingHist">Building History</h4>
<p>
    <strong>Statement of Building History </strong>[Sec. 1381(a)(1)]: Use the space provided in the Building History Form to
    describe the building history, including the date of construction and major uses since it was built, to the best of your
    knowledge and available records.
</p>
<p>
    <strong>Statement of Repairs and Improvements </strong>[Sec. 1381(a) (4)(B)]: Use the space provided in the Building History Form
    to briefly describe major repairs and improvements that the Subdivider plans to make before conveyance of the units.
</p>
<p>
    <strong>Permits:</strong> List the permit number(s) of the building permit application filed in connection with the proposed use
    of this property that is not listed in the 3R Report. Use the space in the Building History Form to indicate only the building permit
    application number. Do not provide copies of building permits unless asked to do so.
</p>
<p>
    Only electronic signatures are accepted online. If you, for any reason, cannot sign digitally then please contact this department at
    subdivision.mapping@sfdpw.org for accomodations to be made.
</p>


<h4 id="myEcpGuidelinesUnitHist">Unit History</h4>
<p>
    <strong>Unit Information</strong>  [Sec 1381(a)(3) and Sec 1381(a) (4)(C)]:
    List of occupants and their apartment numbers, vacant units, and tenants and owners who intend to purchase units.
    Use the table provided in the Unit History Form to list the occupants (owners and tenants) of subject building and their
    apartment numbers. Identify each unit as either owner-occupied, tenant-occupied, mixed, or vacant.
    Also, list the number of bedrooms, square feet, current rental rate, and proposed sales prices.
</p>
<p>
    <strong>Six Year Occupant History:</strong> [Sec 1381(a)(3)]
    Use the table provided in Unit History to list the names of all building occupants (tenants and owners) during the six years
    preceding the application submittal date. Identify the duration of their occupancy (provide dates
    when available), their rent, and the reasons for the termination of their occupancy, and whether any evictions were initiated
    during the five-year period. Applicant must comply with San Francisco Subdivision Code Section 1396.2 [Owner Affidavit for Owner-Occupancy
    Form and Tenant Intent to either Purchase or Accept Offer of Lifetime Lease Forms].
</p>

<h4 id="myEcpGuidelinesPhysicalInspection">DBI Physical Inspection Report</h4>
<p>
    Receipt of application for Physical Inspection or Physical Inspection Report will be required prior to recordation of the subdivision map.
    The Certificate of Final Completion (CFC) is required before the final project is approved and maps recorded. [Sec. 1381(a)(4)(B)].
</p>
<p>
    The Physical Inspection Report may be obtained at the Department of Building Inspection (DBI) at 1660 Mission Street.,
    3rd Floor, San Francisco, CA 94103. Please visit <a href="www.sfdbi.org">www.sfdbi.org</a> for more information.
    See box below for information on how to obtain the Physical Inspection Report:
</p>
<div class="boxed">
    <h5>Department of Building Inspection Physical Inspection Information and Building Inspection Request</h5>
    <p>
        Applicant shall submit an Application for Physical Inspection along with the correct fees to the Department
        of Building Inspection (DBI) at 1660 Mission Street, 3rd Floor. To contact this office, call (415) 558-6570.
    </p>
    <ul>
        <li>
            While at Department of Building Inspection you will also need to apply for a current “Report of Residential
            Records” (3R Report). To apply for a 3R Report, go to DBI, Records Management Division at 1660 Mission St. 4th Floor.
            To contact this office, call (415) 558-6080 or visit www.sfdbi.org.
        </li>
        <li>
            You should expect to hear from an inspector by phone within 2 weeks of your application. It is important that the
            contact person’s name and phone number(s) is/are legible on the application. The actual inspection is typically
            scheduled from 3 to 4 weeks after the application is submitted.
        </li>
        <li>
            On the scheduled date of inspection building, electrical and plumbing inspectors will inspect your building.
            A thorough inspection can be completed in as little as 30 minutes for a well-maintained, completely accessible
            building of 2 units, but longer for additional units and/or larger buildings.
        </li>
        <li>
            After the inspection, the research and preparation of the “Report of Physical Inspection” will take 2 to 4 weeks.
            Your “Physical Inspection Report” will itemize the violations found and, unless no violations are indicated, you
            or your contractor(s)¬ will need to obtain separate building, electrical and/or plumbing permits to clear the violations.
        </li>
        <li>
            To apply for a building permit, bring a copy of your “Report of Physical Inspection” (and plans if required)
            to 1660 Mission St., 1st Floor, Station #2 – Residential Permit Counter. For electrical and plumbing permit
            information, please phone (415) 558-6030 and (415) 558-6054, respectively.
        </li>
        <li>
            When all of the violations have been corrected and the electrical and plumbing inspectors have performed their
            inspections and signed the FINAL INSPECTION portion of your building permit JOB CARD, you can then contact your
            district building inspector for the “FINAL BUILDING INSPECTION”. All items, including required energy and water
            conservation items, must be satisfactorily completed.
        </li>
        <li>
            Upon satisfactory correction of all violations, your building inspector will sign your “JOB CARD” and issue you
            a Certificate of Final Completion (CFC). Thereafter, submit a copy of your CFC and a copy of your Report of
            Physical Inspection to the Bureau of Street-Use and Mapping.
        </li>
        <p>If you have any questions regarding the DBI procedures, please call (415) 558-6454 or visit www.sfdbi.org for more information.</p>
    </ul>
</div>

<h4 id="myEcpGuidelines3R">3R Report</h4>
<p>
    A Report of Residential Building Record (3R) is valid if the submission date of the condominium conversion application precedes the expiration date of the report.  [Sec. 1381(a)(2)]. 3R Report must indicate the number of dwelling units.  3R Reports indicating “Present authorized occupancy or use: Unknown,” must be corrected prior to application submittal.
    See box above for information on how to obtain the 3R Report.
</p>

<h4 id="myEcpGuidelinesOccupancy">Affidavit for Ownership/Occupancy & Homeowner's Tax Exemption</h4>
<p>
    In order to corroborate that the applicant owners of record continuously occupied the building for the required period, submit the following:
    <ul>
        <li>
            Homeowners Property Tax Exemption. Provide a copy of the current property tax bill indicating this exemption has
            been applied for by the qualified owner occupant(s)
        </li>
        <li>
            Form 11: Affidavit for Ownership / Occupancy (must be signed and notarized)
        </li>
    </ul>
</p>
<p>
    Proof of Homeowners Property Tax Exemption is required. If you have not applied for this exemption you may do so at San
    Francisco City Hall, Room 190.  When submitting application for Homeowners Property Tax Exemption to the Assessor’s
    Office, ask for a copy for your records. Provide this copy with your application for condominium conversion.
    The proof of occupancy requirement applies only to owners of record, not to tenants who intend to obtain a lifetime
    lease or purchase their units. The proof of owner’s occupancy requirement must confirm the period of occupancy (see
    Period of Occupancy in table below) and the name of the owner of record as provided in the Preliminary Title Report
    (PTR) and the Grant Deed. If the names in these documents submitted differ from those included in the PTR and Grant
    Deed, attach a letter indicating the other names used by the owner of record. (If this letter is needed, attach it to
    the top of the proof of owner’s occupancy documents.)
</p>
<p>
    The following table identifies the required period of occupancy that the owners of record for each category of
    condominium conversion application must demonstrate.  To meet the proof of owner’s occupancy requirement, the
    applicant must submit evidence of continuous occupancy for the required period of time (see chart below). The
    City and County of San Francisco for purposes of condominium conversions recognize married persons and domestic
    partnerships as a single entity, not two separate individuals.
</p>

<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th></th>
                <th>2-4 Units</th>
                <th>5-6 Units</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Number of separate owners of records required to occupy building</th>
                <td>At least one (1)</td>
                <td>At least three (3)</td>
            </tr>
            <tr>
                <th>Percentage of ownership interest in the property</th>
                <td>Each owner should have at least 10%</td>
                <td>Each owner should have at least 10%</td>
            </tr>
            <tr>
                <th>Proof of occupancy requirements</th>
                <td>Six (6) years for one (1) applicant owner of record prior to April 15, 2016</td>
                <td>Six (6) years for each of the three (3) separate owners of record prior to April 15, 2016</td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    Fully executed written (TIC) agreement as of April 15, 2013 in which the owners each have an exclusive right
    of occupancy to individual units in the building to the exclusion of the owners of the other units.
</p>

<h4 id="myEcpGuidelinesTenantIntent">Tentant Intent - Purchase & Tenant Intent - ECP Lifetime Lease</h4>
<p>
    Tenant Intent to Purchase and/or Tenant Into to Accept Offer of Lifetime Lease [Sec. 1388]
</p>
<p>
    Submit these forms properly signed to represent the required number of occupants (owners or tenants)
    who have indicated their intent to either purchase their unit or accept the ECP lifetime lease when it is offered.
</p>
<p>
    For a 2-unit building, applicant must submit at least one (1) signed Tenant Intent Forms. For a 3 - 5 unit building,
    at least two (2) signed Forms are required, and for a 6 unit building, at least three (3) signed Forms are required.
</p>
<p>
    <strong>Note:</strong> All tenant(s) must be offered the ECP lifetime lease (regardless of whether they have signed
    the Tenant Intent Forms) prior to Checkprint Review. [Sec. 1388 and 1396.4(g)(3)]  A copy of the recorded Offer of
    Lifetime Lease will be required with submittal of the Conditions of Approval in accordance with the
    Tentative Map Decision.
</p>

<h4 id="myEcpGuidelinesAckFees">Acknowledgment of Fees</h4>
<p>
    Submit Acknowledgement of Fees Form properly signed. [Sec. 1323 (6)]. Electronic signatures or scanned copies of wet signatures of
    all owners in pdf format are acceptable.
</p>

<h4 id="myEcpGuidelinesReleaseOfCommonAreas">Owner's Affidavit - Release in Common Areas</h4>
<p>
    The Owner's Release in Interest Form properly signed. Electronic signatures or scanned copies of wet signatures of
    all owners in pdf format are acceptable. [Sec. 1314]
</p>

<h4 id="myEcpGuidelinesNNNotice">Owner and Tenant Notification of Tentative Map Decision</h4>
<p>
    Owner Notification of Tenantive Map Approval is required, but the process differs based on the number of
    units within a building. [Sec. 1314]
</p>
<ul>
    <li>
        <strong>For 2 – 4 unit buildings, </strong> Submit one set of the following with the application:
        <ul>
            <li>Address List to all <strong>building occupants, owners and tenants.</strong></li>
            <li>SFPW envelopes stamped and addressed to all <strong>building occupants, owners and tenants.</strong></li>
        </ul>
    </li>
    <li>
        <strong>For 5 – 6 unit buildings (Neighborhood Notification Package) [FINAL MAP APPLICATIONS ONLY], </strong>
        Submit one set of the following with the application:
        <ul>
            <li>300-Foot Radius Map</li>
            <li>
                Address List to all <strong>
                    building occupants, owners and tenants, and all owners on the 300 foot radius
                    address list.
                </strong>
            </li>
            <li>
                SFPW envelopes stamped and addressed to all <strong>
                    building occupants, owners and tenants, and all owners
                    on the 300 foot radius address list.
                </strong>
            </li>
            <li>
                <strong>Note: </strong>The Department of City Planning will inform the Subdivider of any additional public notice
                requirements associated with other public hearings.
            </li>
        </ul>
    </li>
</ul>
<div class="boxed">
    <h5>Specifications of Notification of Tentative Map Decision</h5>
    <ul>
        <li>
            <strong>300-Foot Radius Map: </strong>A map in pdf format drawn to scale at 1”=50’, showing the property that is the
            subject of this application and all other property/property owners within a radius of 300 feet of the exterior
            boundaries of the subject property, the Assessor’s block number of each block and Assessor’s lot number on each
            lot, and the names of all streets shown. Maps of individual blocks may be traced at the Assessor’s Office, and
            street widths may be obtained at the SFPW, Subdivision and Mapping Division; however, it is advisable that this
            work be done by an experienced draftsperson or commercial service.
        </li>
        <li>
            <strong>Address List: </strong>A list submitted in pdf or MS Excel format showing the owner names and addresses
            as shown on the current Tax Assessment Roll at the Tax Collector’s Office.  Also, all building occupants, owners
            and tenants, and addresses of the property. The mailing list must be sorted in numerical order by Assessor Parcel
            Number. Also, include any other names and addresses of attorneys, and other interested parties you wish to notify
            of the tentative map decision. The list must also include the total number of parties being notified so that Public
            Works can generate the correct number of letters.
        </li>
        <li>
            <strong>Mailing Envelopes: </strong>One set of stamped and addressed envelopes with SFPW’s return address with each
            name and address from the Address List above. Contact the SFPW at 1155 Market Street, 3rd Floor, San Francisco to
            obtain these envelopes.
        </li>
    </ul>
</div>


<h4 id="myEcpGuidelinesTenantNoticeOfConversion">Tenants Notice of Conversion</h4>
<p>Submit a copy of the Notice to All Tenants Form, signed by the Subdivider in pdf format.</p>
<div class="boxed">
    <h5>The San Francisco Subdivision Code</h5>
    <h6>Notice of Proposed Conversion [Sec. 1381 (a)(6)]</h6>
    <p>
        This establishes that “within five days of filing an application with DPW for condominium conversion
        subdivision, the subdivider shall give written notice concerning the proposed conversion to all lessees
        and tenants. If five or more units are involved, said notice shall advise all lessees and tenants that
        a public hearing concerning the application for conversion will be held and that notice of said hearing
        will be given to all lessees and tenants by the City Planning Commission.
    </p>
    <p>
        Said notice shall contain all the information as required in Subsections 4 and 8 of this Section. Said
        notice shall contain a description of the rights of tenants as herein provided, including the right of
        first refusal to purchase the unit, the right to attend and be heard at the public hearing, the right
        to receive relocation assistance and benefits, the right of all tenants to extend occupancy for a period
        of from one to three years depending upon length of prior occupancy, the right of elderly and disabled
        tenants to a lifetime lease, and the prohibition against rent increases during the process of conversion.”
    </p>
</div>

<h4 id="myEcpGuidelinesTenantContacts">Tenant Contacts</h4>
<p>
    Submit the completed Summary of Tenant Contacts Form, including all Subdivider’s interactions with tenants regarding
    the proposed conversion, the date of interaction or contact, signed by the Subdivider. Electronic signatures or
    scanned copies of wet signatures of all owners in pdf format are acceptable.
</p>

<h4 id="myEcpGuidelinesExistingTenantNotice">Subdivider's Notice to Existing Tenants</h4>
<p>
    Subdivider’s statement that the notice of conversion has been given to existing tenants [Sec. 1381(a)(6)(A) & Sec. 1381(a)(6)(C)]
</p>
<p>
    Submit completed Subdivider's Statement A Form, which includes a statement indicating that the notice of proposed conversion has been
    given to any lessees or tenants subsequent to the submission of the application packet for conversion. Electronic signatures or
    scanned copies of wet signatures of all owners in pdf format are acceptable.
</p>

<h4 id="myEcpGuidelinesNewTenantNotice">Subdivider's Notice to New Tenants</h4>
<p>
    Subdivider’s commitment to provide notice of conversion to new tenants [Sec. 1381(a)(6)(C)]
</p>
<p>
    Submit completed Subdivider's Statement B Form, which includes a statement indicating that the notice of proposed conversion will be given to any lessees
    or tenants subsequent to the submission of the application packet for conversion. Electronic signatures or scanned copies of wet
    signatures of all owners in pdf format are acceptable.
</p>

<h4 id="myEcpGuidelinesRightOfRefusal">Tenant Right of Refusal</h4>
<p>
    Subdivider’s commitment to provide a right of first refusal to tenants to purchase their units [Sec. 1387]
    Submit completed Tenant Right of First Refusal Form.   Electronic signatures or scanned copies of wet signatures of all owners
    in pdf format are acceptable.
</p>

<h4 id="myEcpGuidelinesPhotos">Photographs of subject property</h4>
<p>
    Submit the following four (4) types of streetscape photos:
</p>
<ul>
    <li>
        Front photo from the street looking at the property, including sidewalk without obstructions
    </li>
    <li>
        Photo from street showing left side property line and sidewalk, including sidewalk without obstructions
    </li>
    <li>
        Photo from street showing right side property line and sidewalk, including sidewalk without obstructions
    </li>
    <li>
        Photo of the rear of property (if possible).
    </li>
</ul>
<p>
    To properly identify the subject property, include the date, Assessor’s block and lot number as well as property address
    on all the photographs.  Sample photos can be found on our website under “Links”.
</p>

<h4 id="myEcpGuidelinesPropM">Proposition M Findings</h4>
<p>
    Proposition M Findings demonstrating consistency with eight priority General Plan policies. [Planning Code Sec. 101.1(b)]
</p>
<p>
    Submit completed Proposition M Findings Form. Electronic signatures or scanned copies of wet signatures of all owners in
    pdf format are acceptable
</p>

<h4 id="myEcpGuidelinesOwnerAff">Affidavit Owner’s</h4>
<p>
    Submit fully executed and notarized Form 12 for all owners of record. Form 12 must be submitted as both electronic pdf
    copy AND original notarized forms.
</p>

<h4>
    Applicant(s) must comply with Section 1396.2 (b) of the San Francisco Subdivision Code.  If owners cannot meet these
    requirements this building may not be converted to condominiums.
</h4>

<h4 id="myEcpGuidelinesEvAff">Affidavit Evictions</h4>
<p>
    Submit fully executed and notarized Form 13 for all owners of record. Form 13 must be submitted as both electronic pdf
    copy AND original notarized forms.
</p>
<p>
    Applicant(s) must comply with Section 1396.2 (a) of the San Francisco Subdivision Code. Form 13.  If owners cannot meet
    these requirements this building may not be converted to condominiums.
</p>

<h4 id="myEcpGuidelinesTIC">TIC Agreement</h4>
<p>
    Provide an electronic pdf copy of a fully executed written agreement as of April 15, 2013 in which the owners each have
    an exclusive right of occupancy to individual units in the building to the exclusion of the owners of the other units.
</p>

<p><strong>Attention: </strong>Forms 11, 12, and 13 must be submitted as both electronic pdf copies AND original notarized forms. </p>


