@using Subdivisionary.Models.Applications
@model ParcelFinalMap
<h2 id="myParcelFinalGuidelines">Parcel / Final Map</h2>
<p>
    For more information about Lot-Mergers, Lot-Subdivisions, or other Parcel/Final Map applications, please view
    <a href="@Href("~/Samples/Parcel and Final Map Guidelines.pdf")" target="_blank">this pdf <i class="fa fa-file-pdf-o"></i></a>
</p>
