<h2 id="mySidewalkGuidelines">Sidewalk Legislation Guidelines</h2>
<p>
    For more information about Sidewalk Legislation, please view 
    <a href="@Href("~/Samples/Sidwalk Legislation Guidelines.pdf")" target="_blank">this pdf <i class="fa fa-file-pdf-o"></i></a>
</p>