@model Subdivisionary.Models.Forms.OwnerForm
@using Subdivisionary.Models.Collections
@using Subdivisionary.Models.Forms
@using Subdivisionary.ViewModels.ApplicationViewModels

<p>
    <strong>Note:</strong> Please enter all legal owners of record for the stated parcel. For simplification, individuals that can
    legally sign on behalf of one another (such as married couples) can be entered together. This must be supported via Grant Deeds,
    Preliminary Title Report, or some other form of documentation that must be submitted with this application.
</p>

@Html.Partial("CollectionEditors/_CollectionEditor",
    new ListEditorViewModel<OwnerInfo>(OwnerForm.OWNERS_KEY, Model.Owners, new OwnerInfo(), false))