@using Subdivisionary.ViewModels
@model Subdivisionary.Models.Forms.SubdividersStatementToNewTenants

<h4>Subdivider's Statement and Commitment Regarding Notice to New Tenants</h4>
<h6>[Sec. 1381(a)(6)(B) & Sec. 1381(a)(6)(C)]</h6>
<p>
    The undersigned subdividers hereby certify that he/she will give notices required by the San Francisco Subdivision Code Section
    1381(a)(6) to all current lessees or tenants including those who occupy after submission of the application packet for conversion. 
</p>
@Html.Partial("_SignatureCollectionEditor", new SignatureCollectionViewModel(Model.Id, Model.SignatureUploadProperties, Model.Signatures))