

/* I like this warmer color of blue better than the gradient. Flat colors are more
    modern.
    Color Pallet: https://coolors.co/456caa-3097d1-a0ddff-c1cefe-7189ff
*/
body.warm {
    background-color: #EEF1F7;
}
.navbar-default {
    background-color: #456CAA;
    /*background-color: #3097d1;*/
    border-color: #1c73a5;
    background-image: none;
    margin-bottom: 0;
}

.navbar-default .navbar-nav > li > a{
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255,255,255,0);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: rgb(255, 255, 255);
    background-color: rgba(255,255,255,0);
}

/*Form Labels*/
.col-form-label {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 0;
}
.form-group {
    padding-left: 5px;
    padding-right: 5px;
}

.list-item-editor {
    margin-bottom: 0px;
}
.list-item-editor .panel-body {
    padding-top: 0px;
}
.list-item-editor .panel-heading {
    min-height: 30px;
}

/*Text in-line with forms*/
label.control-label {
    margin-bottom: 0px;
}

/*div with in-line text*/
div.form-surround {
    padding-bottom: 100px;
}

/*text in-line with or surrounding form*/
label.form-surround {
    text-align: center;
    margin: 0px;
    margin-top: -30px;
    padding: 0px;
    font-size: 80px;
    font-weight: 100;
    color: lightblue;
    /* padding-bottom: 10px; */
}

/*Keep forms close together & indent new rows*/
.form-group.row {
    margin-left: 5px;
    /*margin-bottom: 0px;*/
}
/* NavBar Center*/
.navbar-nav li a {
    line-height: 40px;
}

.navbar-brand {
    padding: 0px;
}

.partialbar {
    border-left-style: double;
    border-color: aliceblue;
}

.banner {
    color: white;
    background-color: #3097D1;
    width: 100%;
    padding: 20px 20px;
}

.bsm-border {
    border-color: #CCD6E7;
    border-style: double;
}

.big-checkbox {
     width: 25px;
     height: 25px;

 }
.center-div {
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-weight: 600;
    font-size: 40px;
    font-variant: normal;
    line-height: 98%;
    text-align: center
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h6 {
    font-size: 13px;
    font-weight: 600;
}

strong, h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans";
    font-style: normal !important;
    color: rgb(69, 108, 170);
}

p {
    font-family: "Open Sans";
    line-height: 25px;
    margin: 0 0 20px;
}

th {
    color: #456CAA;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #EEF1F7;
}

.bsm-form-control {
    border: 0px;
    border-bottom: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #a0ddff;
    height: 30px;
    padding-left: 4px;
    border-radius: 0px;
    border-style: solid;
    padding-bottom: 0px;

}

li.list-group-item.list-group-item-info.file-upload-list {
    line-height: .9;
    font-size: 13px;
    font-style: italic;
}

.input-validation-error {
    border: 2px solid red;
}

button.j-removeBtn {
    padding: 4px 8px;
}

.panel-default > .panel-heading {
    background-color: transparent;
    border-color: transparent;
    padding: 0px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #EEF1F7;
}

.nav > li > a:hover, .nav > li > a:focus{
    background-color: aliceblue;
}
.nav > li.disabled > a {
    background-color: #DDE4EF;
}

.nav > li.disabled > a:hover, .nav > li.disabled > a:focus {
    background-color: #EEF1F7;
}

.file-loading {
    min-height: 39px;
}

.js-removeApplicant {
    float: right;
    margin-top: -5px;
}

/** Signatures **/

/* Remove all Click Events from Canvas when JSignature is Disabled */
.bsmSignature.disabled {
    pointer-events: none;
    background-color: #EEF1F7;
}

.bsmSignature {
    background: aliceblue;
    color: #456CAA;
    margin-bottom: 30px;
}

.datestamp {
    text-align: right;
    font-style: italic;
    color: #16455F;
}