@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Subdivision Application System</h1>
    <p class="lead" style="text-align: center;">A refreshing step in the right direction. To be completed by 2/30/17. ae.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Lorem Ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque tempor magna ut felis commodo, vitae pulvinar nisi luctus.
            Cras vitae dui commodo, viverra mi porta, pellentesque nisl.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mauris Bibendum</h2>
        <p>Mauris bibendum nunc augue, id eleifend felis luctus a. Quisque convallis aliquam ante ac volutpat. Proin gravida mi eget lectus consectetur, nec pellentesque lacus aliquam.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vivamus Ultricies</h2>
        <p>Vivamus ultricies velit ac erat interdum, non fermentum ex tristique. Nam eget lacinia turpis. Cras facilisis justo risus, at pulvinar sem eleifend eu. Aenean eu tempus tortor, vehicula congue tellus.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>