@model Subdivisionary.Models.Forms.ApplicationCheckForm
@using Subdivisionary.Models.Collections
@using Subdivisionary.ViewModels

<h3 style="font-style: italic; font-weight: normal;">Can be replaced by a payment gateway</h3>

@{
    var uploads = Model.FileUploadProperties();
    var lists = uploads.Select(x => Model.GetFileUploadList(x.UniqueKey)).ToList();
}

@Html.Partial("_FileUploadPropsEditor", new FileUploadViewModel()
{
    LabelMessage = "Select Application Checks",
    UploadProperty = uploads[0],
    UploadList = lists[0],
}, ViewData)

<div class="form-group">
    <h3>Checks</h3>

    @Html.Partial("CollectionEditors/_CollectionEditor", new ListEditorViewModel<CheckInfo>()
    {
        List = Model.ChecksList,
        EmptyDataDefault = Model.GetEmptyItem()
    })
</div>