@using System.Data.Entity.Core.Objects
@using Subdivisionary.Helpers
@using Subdivisionary.ViewModels
@model Subdivisionary.ViewModels.EditFormViewModel


@Html.Partial("_ValidationSummary", ViewData.ModelState)
@using (Html.BeginForm("Edit", "Applications",
    new {applicationId = Model.ApplicationId, editId = Model.EditId},
    FormMethod.Post, new { method = "post", id="formEditor", runat = "server", enctype = "multipart/form-data" }))
{
    @Html.Hidden(TypeStorage.GetBinderClassName(), ObjectContext.GetObjectType(Model.Form.GetType()).FullName)
    @Html.Partial(Model.Editor(), Model.Form)
    <button class="btn btn-info" type="submit" style="width: 100%;">Save</button>
}