@using System.Data.Entity.Core.Objects
@using Subdivisionary.DAL
@using Subdivisionary.Helpers
@using Subdivisionary.ViewModels
@model Subdivisionary.ViewModels.EditFormViewModel


@Html.Partial("_ValidationSummary", ViewData.ModelState)
@using (Html.BeginForm("Edit", "Applications",
    new {applicationId = Model.ApplicationId, editId = Model.EditId},
    FormMethod.Post, new { method = "post", id="formGetPartialViewEditor", runat = "server", enctype = "multipart/form-data" }))
{
    @Html.Hidden(FormModelBinder.TYPE_KEY, ObjectContext.GetObjectType(Model.Form.GetType()).FullName)
    @Html.Partial(Model.GetPartialViewEditor(), Model.Form)
    <button class="btn btn-lg btn-info center-block" type="submit" style="width: 75%;">Save <i class="fa fa-save"></i></button>
}