@model Subdivisionary.Models.Forms.GrantDeedForm
@*<div class="input-group">
    <label class="input-group-btn">
        <span class="btn btn-primary">
            Browse… <input type="file" name="exampleKey" style="display: none;">
        </span>
    </label>
    <input type="text" class="form-control" readonly="" >
</div>*@

<label class="control-label" for="inputSubject">Select Deed for the Subject Parcel</label>
<input type="file" id="inputSubject" name="subject" class="file" data-show-upload="false" data-show-preview="true" data-allowed-file-extensions='["pdf", "doc", "docx", "png", "jpg", "JPG", "PNG", "JPEG", "jpeg", "xls", "xlsx"]'>
<br/>
<label class="control-label" for="inputAdjoiner">Select Deeds for the Adjoiner Parcels</label>
<input type="file" id="inputAdjoiner" name="adjoiner" class="file" multiple data-show-preview="true" data-allowed-file-extensions='["pdf", "doc", "docx", "png", "jpg", "JPG", "PNG", "JPEG", "jpeg", "xls", "xlsx"]'>
