
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-signer="John Shmoe">Launch Demo Modal</button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-signer="John Blow">Launch Demo Modal</button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-signer="John Crow">Launch Demo Modal</button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-signer="John Snow">Launch Demo Modal</button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-signer="John Low">Launch Demo Modal</button>
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-signer="John Doe">Launch Demo Modal</button>


<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-signer="getbootstrap">Open modal for </button>
<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div id="signature" style="background-color: aliceblue; visibility: hidden;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div id="sig" ></div>
<div id="sig2" class="bsmSignature"></div>
<button type="button" class="btn btn-danger btn-circle" id="btnSaveLoad"><i class="fa fa-star"></i></button>
<button type="button" class="btn btn-danger btn-circle" id="btnUndo"><i class="fa fa-undo"></i></button>
<button type="button" class="btn btn-danger btn-circle" id="btnReset"><i class="fa fa-repeat"></i></button>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sig').jSignature();
            $('#sig2').jSignature();
        });
        $('#btnSaveLoad').click(function(e) {
            var datapair = $('#sig').jSignature("getData", "base30");
            console.log(datapair);
            $('#sig2').jSignature("setData", "data:" + datapair.join(","));
        });
        $('#btnReset').click(function (e) {
            $('#sig').jSignature("reset");
            $('#sig2').jSignature("reset");
        });
        $('#btnUndo').click(function (e) {
            $('#sig').jSignature("reset");
            $('#sig2').jSignature("reset");
        });
    </script>
    <script type="text/javascript">
        $('#myModal').on('show.bs.modal', function (e) {
            var sig = $("#signature");
            sig.jSignature();
            sig.resize();
            var button = $(e.relatedTarget); // Button that triggered the modal
            var signer = button.data('signer'); // Extract info from data-* attributes
            $(this).find('.modal-title').text('Signature for ' + signer);
            sig.css("visibility", "visible");
        });
    </script>
}
    
