@using Subdivisionary.Helpers
@using Subdivisionary.Models.Forms
@using Subdivisionary.ViewModels
@model Subdivisionary.Models.Forms.IForm
@{
    ViewBag.Title = "SpeedTest";
    Layout = "~/Views/Shared/_BannerLayout.cshtml";
    ViewBag.Banner = "Speed Testing";
}
<div class="sidebar col-md-3">
    @Html.Partial("_BsmSidebar")
</div>
<div class="sidebar col-md-9">
    @Html.Partial(EditFormViewModel.GetPartialViewEditor(Model), Model)
</div>

@section Scripts {
    @if (Model is IUploadableFileForm)
    {
        <script type="text/javascript">
                $(document)
                    .ready(function() {
                        @Html.RenderUploadableFileJavascript((IUploadableFileForm)Model, Server)
                    });
        </script>
    }
    @if (Model is ICollectionForm)
    {
        @Html.Partial("CollectionEditors/_CollectionFormJavascript", (ICollectionForm)Model)
    }
}


